PYTHONPATH=/usr/local/lib/python2.7/site-packages
*/20 * * * * python /usr/workspace/availability_check.py >> /var/log/cron.log 2>&1
15,45 * * * * python /usr/workspace/kill_leftover_chrome_instances.py >> /dev/null